
<p class="pageheading"><%=t("headings.listing.heading", :model=>t("entities.quotas") )%></p>
<%= will_paginate %>

<table class="data">
  <tr class="dataheader">
    <th class ="dataheader"><%=t($FL+"quota.name")%></th>
    <th class ="dataheader"><%=t($FL+"quota.initial_quota")%></th>
    <th class ="dataheader"><%=t($FL+"quota.quota")%></th>
    <!-- th class ="dataheader"><%=t($FL+".quota.days_from_start_init_to_real")%></th  -->
    <th class="linkheader"></th>
    <th class="linkheader"></th>
    
  </tr>
<% row_class="" %>
<% row_counter =0 %>  
<% cell_class = "datatcell" %>
<% link_cell_class="link"%>  
<% @quotas.each do |quota| %>
<% if row_counter%2==0: %>
  <%  row_class="dataeven" %>
<% else %>
  <% row_class ="dataodd"  %>
<% end %>
  <tr class = "<%= row_class %>" >
    <td class="<%= cell_class %>"><%= quota.name %></td>
		 
    <td class="<%= cell_class %>"><%= quota.initial_quota %></td>
		 
    <td class="<%= cell_class %>"><%= quota.quota %></td>
		 
    <!-- td class="<%= cell_class %>"><%= quota.days_from_start_init_to_real %></td  -->
		 
    
    <td class="<%= link_cell_class %>"><%= link_to t('action.edit'), edit_quota_path(quota) %></td>
    <td class="<%= link_cell_class %>"><%= link_to t("action.destroy"), quota, :confirm => t("messages.delete.are_you_sure", :model => t('entities.quota')), :method => :delete %> </td>
  </tr>
<% row_counter += 1 %>  	
<% end %>
</table>
<%= will_paginate %>

<br />

<%= link_to t('headings.new.heading', :model=> t('entities.quota')), new_quota_path %>
