<p class="pageheading"><%= t($AR+"sign_in") %></p>



<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <% f.inputs do %>  
		<%= f.input :email, :hint=>true %>
    <%= f.input :password,  :as=> :password, :hint=>true  %>
  <% end %>
  <%= f.buttons do %>
      <%= f.commit_button :submit, :sign_in %>    
  <% end %>
<% end %>

<%= render :partial => "devise/shared/links" %>