<p id="notice"><%= notice %></p>

<p>
  <b>Course type:</b>
  <%= @course.course_type_id %>
</p>

<p>
  <b>Begin date:</b>
  <%= @course.begin_date %>
</p>

<p>
  <b>End date:</b>
  <%= @course.end_date %>
</p>

<p>
  <b>Location:</b>
  <%= @course.location_id %>
</p>

<p>
  <b>Old students only:</b>
  <%= @course.old_students_only %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
